/* 
    Created on : Aug 15, 2015, 4:51:26 PM
    Author     : Saurabh Singh
*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background-color: antiquewhite;
}
img{
    width: 100%;
    height: 100%;
}
ul>li{
    list-style-type: none;
    padding-bottom: 1%;
}
.navigationLink{position: fixed;
    background-color: darkgoldenrod;
    width: 390px;
    z-index: 1050;
    text-align: right;top: 0px;
    margin-left: calc(100% - 423px);}
.navigationLink>a:hover{background-color: brown;}
#myAccountPopup{    position: fixed;
    width: 256px;
    margin-left: calc(100% - 256px);
    margin-top: 23px;z-index: 1100;
    background-color: beige;visibility: hidden;
}
#popupUserImg{
        width: 110px;
    display: inline-block;
    height: 110px;box-shadow: 0 -16px 103px rgba(177, 87, 8, 0.7);
    position: relative;margin-left: 9px;margin-top: 7px;
}
#popupUserDeatils{    display: block;
    text-align: center;
    position: relative;
    padding-bottom: 2px;}
#popupUsername{    position: absolute;
    display: inline-block;
    text-align: center;
    margin-top: 17%;
    margin-left: 6%;}
.popupUserExtra{display: inline-block;padding-right: 2%;
    padding-left: 2%;
    border: 1px solid burlywood;
    background-color: bisque;}
.popupUserExtra:hover{
    background-color: chocolate;cursor: pointer;
}












#activityList{
    margin-left: 4%;
    float: left;
    margin-top: 4%;
}
.activitySection{
    padding: 10px 18px 10px 18px;
    /* padding-bottom: 1px; */
    background-color: bisque;
}
.activitySection:hover{
    background-color:  #FF7E00;
}
.activitiesSubSection{
    display: none;
    position: relative;
    text-align: justify;
    padding: 4% 2% 1% 3%;
}
#activity_home{
    display: block;
}




#footer{
    background-color: #999999;
    margin-top: 20px;
}
.footer-head{
    font-weight: bold;
    padding-bottom: 20px;
    text-decoration: underline;    
}
.footer-Content{
    cursor: default;
}
#footerBar{
	background-color:#F60;
	padding:5px;
	text-align:center;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000;
}