/* 
    Created on : Jan 13, 2016, 3:51:12 PM
    Author     : Saurabh Singh
*/
body{
    background-color: #888;
    padding: 30px;
    margin: 0px;
}
#dustContainer{
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-user-select: none;
    z-index: -10;
}
.dust{
    padding-left: 15px;
    font-family: Cursive, Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #000;
    -webkit-user-select: none;
    z-index: 1000;
}
.dust:hover{
    cursor: default;
}
