/* 
    Created on : Sep 5, 2015, 10:40:28 PM
    Author     : Saurabh Singh
*/

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
#try{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    background-color: aliceblue;
}
img{
    width: 100%;
    height: 100%;
}
ul>li{list-style-type: none;padding-bottom: 1%;}


.navigationLink{position: fixed;
    background-color: darkgoldenrod;
    width: 390px;
    /* direction: rtl; */
    text-align: right;
    margin-left: calc(100% - 390px);}
.navigationLink>a:hover{background-color: brown;}
#myAccountPopup{    position: fixed;
    width: 256px;
    margin-left: calc(100% - 256px);
    margin-top: 23px;z-index: 1;
    background-color: beige;visibility: hidden;
}
#popupUserImg{
        width: 110px;
    display: inline-block;
    height: 110px;box-shadow: 0 -16px 103px rgba(177, 87, 8, 0.7);
    position: relative;margin-left: 9px;margin-top: 7px;
}
#popupUserDeatils{    display: block;
    text-align: center;
    position: relative;
    padding-bottom: 2px;}
#popupUsername{    position: absolute;
    display: inline-block;
    text-align: center;
    margin-top: 17%;
    margin-left: 6%;}
.popupUserExtra{display: inline-block;padding-right: 2%;
    padding-left: 2%;
    border: 1px solid burlywood;
    background-color: bisque;}
.popupUserExtra:hover{
    background-color: chocolate;cursor: pointer;
}





.flex-container{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    align-items: stretch;
}
.flex-item{
    flex: 1;
}
.flex-item:hover{
    flex: 3;
}







#footer{
    background-color: #999999;
    margin-top: 20px;
}
.footer-head{
    font-weight: bold;
    padding-bottom: 20px;
    text-decoration: underline;    
}
.footer-Content{
    cursor: default;
}
#footerBar{
	background-color:#F60;
	padding:5px;
	text-align:center;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000;
}